body{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;

}


.block{
    background-color: rgb(127, 176, 255);
    width: 500px;
    height: 500px;
    margin-bottom: 100px;
    animation-name: col;
    animation-duration: 5s;
}

@keyframes col{
    0%  {background-color: rgb(41, 117, 11);}
    25% {background-color: yellow;};
    75% {background-color: yellow;};
    100% {background-color: rgb(41, 117, 11);}
}